* {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

body {
    padding-top: 50px;
    width: 1200px;
}

p {
    margin-bottom: 25px;
    line-height: 25px;
}

h3, h2 {
    margin-bottom: 15px;
    font-weight: 500;
}

ol ol {
    list-style-type: lower-latin;
}

ol {
    line-height: 35px;
}

li {
    padding-left: 15px;
}